/* Bwlow code in style.css */
/* Common CSS for All components : Start */
@media (min-width: 1921px) {
	:root {
		--fz164:8.542vw;
		--fz124:6.458vw;
		--fz96:5vw;
		--fz44:2.292vw;
		--fz32:1.667vw;
		--fz24:1.25vw;
		--fz20:1.042vw;
		--fz18:0.938vw;
		--fz16:0.833vw;
		--fz14:0.729vw;
	}
}

@media (max-width: 1920px) {
	:root {
		--fz164:8.542vw;
		--fz124:6.458vw;
		--fz96:5vw;
		--fz44:2.292vw;
		--fz32:32px;
		--fz24:24px;
		--fz20:20px;
		--fz18:18px;
		--fz16:16px;
		--fz14:14px;
	}
}
:root {
	
	--whitebg:#ffffff;
	--blackbg: #000000;
	--blackbg100: #1f1f1f;
	--blackbg200: #454545;
	--lightgraybg100: #f5f5f5;
	--lightgraybg200: #e3e3e3;
	--bluebg: #3880ff;
	--redbg: #db0012;
	--skybluebg: #1ca6cc;
	--lightbrownbg: #8a6e7d;


	--whitetxt:#ffffff;
	--blacktxt: #000000;
	--blacktxt100: #1f1f1f;
	--blacktxt200: #454545;
	--blacktxt300: #444444;
	--lightgraytxt100: #f5f5f5;
	--lightgraytxt200: #e3e3e3;
	--bluetxt: #3880ff;
	--redtxt: #db0012;
	--skybluetxt: #1ca6cc;
	--lightbrowntxt: #8a6e7d;
}

/* Lenis Start (By Mit) */

html.lenis { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto; } 
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
.lenis.lenis-stopped { overflow: hidden; }
.lenis.lenis-scrolling iframe { pointer-events: none; } 

/* Lenis End (By Mit)*/

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html { margin: 0; padding: 0;}
body { margin: 0; padding: 0; background:var(--whitebg);letter-spacing: 0; font-weight: normal; color: var(--blacktxt); font-family: 'Montserrat-Medium'; font-size: var(--fz20); line-height: 1.6; }


input, select, textarea, button { outline: none; box-shadow: none; font-family: inherit;}
input[type=text]::-moz-placeholder,
input[type=search]::-moz-placeholder,
.input-text::-moz-placeholder,
.input_text::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=text]::-webkit-input-placeholder,
input[type=search]::-webkit-input-p,
.input-text::-webkit-input-placeholder,
.input_text::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=text]::-ms-placeholder,
input[type=search]::-ms-placeholder,
.input-text::-ms-placeholder,
.input_text::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=email]::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=email]::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=email]::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

a { text-decoration: none;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
a:hover { text-decoration: none;}

.flxrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.flxcol {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column; 
	flex-direction: column;
}
.flxfix {
	-ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.flxflexi {
	-ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    position: relative;
}
/* Common CSS for All components : End */

@media (min-width:576px) {
	.container {
		width:100%;
		max-width:100%;
	}
}
@media (min-width: 768px) {
	.container {
		width:750px;
		padding: 0 15px;;
	}
}
@media (min-width: 992px) {
	.container {
		width:970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width:1130px;
		max-width:1130px;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
 
h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 24px;
}
h6 {
	font-size: 20px;
}

p { margin: 0; padding: 0; color: var(--blacktxt); font-family: 'Montserrat-Medium'; font-size: var(--fz20); line-height: 1.6; }
p + p { padding-top: 32px;; }

ul { margin: 0px; padding: 0px; }
ul li { list-style: none; }

.row { margin-left: -15px !important; margin-right: -15px !important;}
.row>* { padding-left: 15px !important; padding-right: 15px !important;}

.form-errer-msg { border-radius: 4px;border: solid 2px #f8797f;padding: 12px 14px 11px 44px; background: url(../images/c-error.svg) no-repeat 15px 12px #f8797f;font-weight: bold;line-height: 1.4;letter-spacing: 1px;color: #fff;font-size: 15px;max-width: 576px;margin: 24px auto 8px; }

.form-secess-msg { border-radius: 4px;border: solid 2px #00ad8a;padding: 12px 14px 11px 44px;background: url(../images/c-check.svg) no-repeat 15px 12px #00ad8a;font-weight: bold;line-height: 1.4;letter-spacing: 1px;color: #fff;font-size: 15px;max-width: 576px;margin: 24px auto 8px; }

.main-wapper { overflow: hidden; }

/* ========== product_listing_page section 1 style: Start (By Kaushal) ========== */

.kv-sec { width: 100%; position: relative; display: block; background: var(--blackbg); }
.kv-sec .kv-inner { width: 100%; height: 100vh; position: relative; display: flex; flex-direction: column; justify-content: end; }
.kv-sec .kv-inner .kv-ttlWrap { margin-top: 324px; padding-bottom: 96px; width: 100%; display: flex; padding-left: 60px; padding-right: 60px; flex-direction: column; position: relative; z-index: 10; }
.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line { width: 100%; display: flex; align-items: flex-start; flex-direction: column; max-width: 1000px; }
.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line h1 { transition: 0.8s cubic-bezier(0.23, 0.65, 0.52, 0.87) 0.4s, clip-path 0.8s ease 0.4s; perspective: 1000px; font-family: 'Gilroy-ExtraBold'; font-size: var(--fz164); line-height: 1.22; color: var(--whitetxt); text-transform: uppercase; clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); }
.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line.start h1 { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line p { transition: 0.8s cubic-bezier(0.23, 0.65, 0.52, 0.87) 0.4s, clip-path 0.8s ease 0.4s; perspective: 1000px; margin-top: 32px; color: var(--whitetxt); clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); }
.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line.start p { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
.kv-sec .kv-inner .kv-spacer { width: 100%; padding-top: 0vh; background: #6A6A6A; position: relative; z-index: 10; bottom: 0; transform-origin: bottom; transition: 1.6s linear 0s; }
.kv-sec .kv-inner .kv-spacer.active { padding-top: 40vh; }
.kv-sec .kv-inner .kv-spacer.posset { transform-origin: top; }
.kv-sec .kv-inner .kv-spacer.end { transform: scaleY(0); transform-origin: top; transition: 0.8s cubic-bezier(0.23, 0.65, 0.52, 0.87); }
.kv-sec .kv-img { width: 100%; height: auto; margin-top: -40vh; opacity: 0; transition: 0.8s cubic-bezier(0.23, 0.65, 0.52, 0.87) 0.4s; display: inline-block; }
.kv-sec .kv-img.active { opacity: 1; }
.kv-sec .kv-img figure { width: 100%; position: relative; transform-origin: center; display: block; margin: 0; }
.kv-sec .kv-img figure img { width: 100%; }
.kv-sec .kv-inner #loading { display: none !important; }

@media (min-width: 1921px) {

	.kv-sec .kv-inner .kv-ttlWrap { margin-top: 16.866vw; padding-bottom: 4.997vw; padding-left: 3.123vw; padding-right: 3.123vw; }
	.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line { max-width: 52.056vw; }
	.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line h1 { perspective: 52.056vw; }
	.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line p { perspective: 52.056vw; margin-top: 1.666vw; }
}

/* ========== product_listing_page section 1 style: End (By Kaushal) ========== */
html.has-scroll-smooth { overflow: hidden; }
html.has-scroll-dragging { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.has-scroll-smooth body { overflow: hidden; }
.has-scroll-smooth [data-scroll-container] { min-height: 100vh; }
[data-scroll-direction="horizontal"] [data-scroll-container] { height: 100vh; display: inline-block; white-space: nowrap; }
[data-scroll-direction="horizontal"] [data-scroll-section] { display: inline-block; vertical-align: top; white-space: nowrap; height: 100%; }
.c-scrollbar { position: absolute; right: 0; top: 0; width: 11px; height: 100%; transform-origin: center right; transition: transform 0.3s, opacity 0.3s; opacity: 0; }
.c-scrollbar:hover { transform: scaleX(1.45); }
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar { opacity: 1; }
[data-scroll-direction="horizontal"] .c-scrollbar { width: 100%; height: 10px; top: auto; bottom: 0; transform: scaleY(1); }
[data-scroll-direction="horizontal"] .c-scrollbar:hover { transform: scaleY(1.3); }
.c-scrollbar_thumb { position: absolute; top: 0; right: 0; background-color: black; opacity: 0.5; width: 7px; border-radius: 10px; margin: 2px; cursor: -webkit-grab; cursor: grab; }
.has-scroll-dragging .c-scrollbar_thumb { cursor: -webkit-grabbing; cursor: grabbing; }
[data-scroll-direction="horizontal"] .c-scrollbar_thumb { right: auto; bottom: 0; }


/* ========== product_listing_page section 2 style: Start (By Kaushal) ========== */

.more_about { width: 100%; position: relative; display: block; padding: 124px 60px 0 60px; }
.more_about .more_about_wrapper { display: flex; align-items: center; justify-content: space-between; margin-bottom: 44px; }
.more_about .more_about_wrapper h2 { font-family: 'Gilroy-ExtraBold'; font-size: var(--fz96); line-height: 1.22; color: var(--blacktxt); text-transform: uppercase; }
.more_about .more_about_wrapper p { line-height: 1.2; text-transform: uppercase; }
.more_about .learn_about_wrapper { display: block; position: relative; }
.more_about .learn_about_wrapper span { display: flex; justify-content: center; text-align: center; font-family: 'Gilroy-ExtraBold'; font-size: var(--fz164); line-height: 1.22; color: var(--blacktxt); text-transform: uppercase; margin-bottom: 44px; }

@media (min-width: 1921px) {

	.more_about { padding: 6.455vw 3.123vw 0 3.123vw; }
	.more_about .more_about_wrapper { margin-bottom: 2.29vw; }
	.more_about .learn_about_wrapper span { margin-bottom: 2.29vw; }
}

.our-works { z-index: 11; justify-content: flex-start; align-items: flex-start; padding: 124px 60px; display: flex; position: relative; }
.our-works .our-works-title { width: 43%; }
.our-works .our-works-list { width: 57%; position: relative; }
.our-works .our-works-list .title { font-family: 'Montserrat-Medium'; font-size: var(--fz24); line-height: 1.20; color: var(--blacktxt300); margin-bottom: 32px; }
.our-works .our-works-list .our-works-item { cursor: pointer; flex-flow: row; justify-content: flex-start; align-items: center; width: 100%; text-decoration: none;  display: flex; position: relative; }
.our-works .our-works-list .our-works-item .works-img { display: none; }
.our-works .our-works-list .our-works-item h2 { font-family: 'Gilroy-Light'; font-size: var(--fz44); line-height: 1.15; color: var(--blacktxt300); text-transform: uppercase; }
.our-works .our-works-list .our-works-item.active h2 { font-family: 'Gilroy-ExtraBold'; color: var(--blacktxt); }
.our-works .our-works-list .our-works-item + .our-works-item { margin-top: 32px; }
.our-works .draggable-wrapper { z-index: 0; pointer-events: none; width: 100%; height: 100%; padding-top: 124px; padding-bottom: 124px; display: block; position: absolute; top: 0%; bottom: 0%; left: 0%; right: 0%; }
.our-works .draggable-wrapper .container-draggable { z-index: 1; width: 100%; padding: 0 60px; position: sticky; top: calc(50vh - 124px); }
.our-works .draggable-wrapper .container-draggable .box-contain { justify-content: flex-start; align-items: center; width: 400px; height: 500px; margin-left: 255px; display: flex; overflow: hidden; }
.our-works .draggable-wrapper .container-draggable .box-contain .box { object-fit: fill; width: 100%; height: 100%; position: relative; }
.our-works .draggable-wrapper .container-draggable .box-contain .box .box-inner { z-index: 0; background-color: rgba(0, 0, 0, .62); width: 100%; height: 100%; position: relative; overflow: hidden; }
.our-works .draggable-wrapper .container-draggable .box-contain .box .box-inner .image-contain { z-index: 0; object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0%; bottom: 0%; left: 0%; right: 0%; }
.our-works .draggable-wrapper .container-draggable .box-contain .box .box-inner .image-contain .image-sticky { object-fit: cover; width: 100%; height: 100%; }

@media (min-width: 1921px) {

	.our-works { padding: 6.455vw 3.123vw; }
	.our-works .our-works-list .title { margin-bottom: 1.666vw; }
	.our-works .our-works-list .our-works-item + .our-works-item { margin-top: 1.666vw; }
	.our-works .draggable-wrapper { padding-top: 6.455vw; padding-bottom: 6.455vw; }
	.our-works .draggable-wrapper .container-draggable { padding: 0 3.123vw; top: calc(50vh - 6.455vw); }
	.our-works .draggable-wrapper .container-draggable .box-contain { width: 20.822vw; height: 26.028vw; margin-left: 13.274vw; }
}

/* ========== product_listing_page section 2 style: End (By Kaushal) ========== */

/* Header Start */

header { width: 100%; position: fixed; left: 0; top: 0; width: 100%; padding: 44px 60px; z-index: 999; }
.header_inner { width: 100%; position: relative; display: -ms-flexbox; display: flex; align-items: center; align-content: center; justify-content: space-between; }
.logo a img { width: 140px; height: auto; }

.menubar { position: relative; z-index: 999; }

.menubar .hamburger_btn { position: relative; align-items: center; align-content: center; background: none !important; border: none !important; outline: none !important; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; padding: 0; margin: 0; text-align: left; }
.hamburger_btn .hamburger_icon { display: -ms-flexbox; display: flex; align-items: center; justify-content: center; align-content: center; height: 56px; width: 56px; border: solid 1px #E2E2E2; border-radius: 50%; margin-right: 16px; }

.navbar_toggler_icon { width:24px; height:2px; border-radius: 4px;  background:var(--blackbg); position: relative; }
.navbar_toggler_icon:after {content:''; width:24px; height:2px; border-radius: 4px; position:absolute; left:0; right:0; bottom:-8px; background:var(--blackbg); }
.navbar_toggler_icon:before {content:''; width:24px; height:2px; border-radius: 4px; position:absolute; left:0; right:0; top:-8px; background:var(--blackbg); }
.navbar_toggler_icon:after ,
.navbar_toggler_icon:before { -webkit-transition-duration: .3s, .3s, .3s; transition-duration: .3s, .3s, .3s; -webkit-transition-delay: .3s, 0s, .3s; transition-delay: .3s, 0s, .3s; }
.navbar_toggler_icon:after {  -webkit-transition-property:bottom , transform ,background; transition-property:bottom , transform ,background; }
.navbar_toggler_icon:before {  -webkit-transition-property:top , transform ,background; transition-property:top , transform ,background;  }

.active .navbar_toggler_icon  { background:none; }
.active .navbar_toggler_icon:after { bottom:0; transform:rotate(45deg); background:var(--whitebg) }
.active .navbar_toggler_icon:before { top:0; transform:rotate(-45deg); background:var(--whitebg) }
.active .navbar_toggler_icon:after ,
.active .navbar_toggler_icon:before {-webkit-transition-delay: 0s, .3s, .0s; transition-delay:0s, .3s, .0s;}
.nav_text { font-family: 'Montserrat-SemiBold'; font-size: var(--fz18); line-height: 1.555556; color: var(--blacktxt); }

.nav_text { overflow: hidden; text-align: right; text-transform: uppercase; font-weight: bold; position: relative; width: 63px; }
.nav_text_before { top: 0; right: 0; position: absolute; transition: 0.3s all ease-in-out; }
.nav_text ,
.nav_text_after,
.nav_text_before { height: 28px; }
.open_menu .nav_text_before { top: -20px; color: var(--whitetxt); }
.nav_text_after { top: 28px; right: 0; position: absolute; transition: 0.3s all  ease-in-out; }
.open_menu .nav_text_after { top: 0; color: var(--whitetxt); }

.bg_menu_shap { position: fixed; top: 44px; right: 139px; background-color: var(--blackbg); height: 56px; width: 56px; border-radius: 50%; -webkit-transform: scale(0) translate3d(1%, 1%, 0); -moz-transform: scale(0) translate3d(1%, 1%, 0); -ms-transform: scale(0) translate3d(1%, 1%, 0); transform: scale(0) translate3d(1%, 1%, 0); z-index: 998; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
body.open_menu .bg_menu_shap { -webkit-transform: scale(75) translate3d(1%, 1%, 0); -moz-transform: scale(75) translate3d(1%, 1%, 0); -ms-transform: scale(75) translate3d(1%, 1%, 0); transform: scale(75) translate3d(1%, 1%, 0);  }

@media (min-width: 1921px) {
	header { padding: 2.29vw 3.123vw; }
	.logo a img { width: 7.288vw; }
	.hamburger_btn .hamburger_icon { height: 2.915vw; width: 2.915vw; border: solid 1px #E2E2E2; margin-right: 0.833vw; }
	
	.navbar_toggler_icon { width:1.249vw; height:0.104vw; border-radius: 0.208vw; }
	.navbar_toggler_icon:after {width:1.249vw; height:0.104vw; border-radius: 0.208vw; bottom:-0.416vw; }
	.navbar_toggler_icon:before {width:1.249vw; height:0.104vw; border-radius: 0.208vw; top:-0.416vw; }
	.nav_text { width: 3.28vw; }
	.nav_text ,
	.nav_text_after,
	.nav_text_before { height: 1.458vw; }
	.open_menu .nav_text_before { top: -1.041vw; }
	.nav_text_after { top: 1.458vw; }
	.open_menu .nav_text_after { top: 0; }
	
	.bg_menu_shap { top: 2.29vw; right: 7.236vw; height: 2.915vw; width: 2.915vw; }
	
}
/* Header End */

.split_word > div { overflow: hidden; vertical-align: top; }

/* Home Banner Start */
.home_wrap { width: 100%; position: relative; padding-top: 196px; }
.home_top_txt { max-width: 1200px; margin: 0 auto; text-align: center; }
.subtitle_banner_home { width: 100%; position: relative; }
.subtitle_banner_home h1 { font-size: var(--fz124); line-height: normal; text-transform: uppercase; font-family: 'Gilroy-ExtraBold'; color: var(--blacktxt); margin-bottom: 24px; }
.subtitle_banner_home p + h1 { margin-top: 24px; }
.load_fade_txt { -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; opacity: 0; visibility: hidden; }
.load-content .load_fade_txt { opacity: 1; visibility: visible; }
@media (min-width: 1921px) {
	.home_wrap {padding-top: 10.203vw; }
	.home_top_txt { max-width: 62.467vw; }
	.subtitle_banner_home h1 { margin-bottom: 1.249vw; }
	.subtitle_banner_home p + h1 { margin-top: 1.249vw; }
}

/* Home Banner End */

/* Home Scroll Section Start */
.home_hori_wrap { width: 100%; position: relative; }
.home_hori_pin { display: -ms-flexbox; display: flex; width: 100%; }
.home_hori_pin .main_hori_img { width: 100vw; min-width: 100vw; height: 100vh; }
.home_hori_pin .main_hori_img > img { width: 100%; height: 100%; object-fit: cover; }

.crafting_wrap { width: 1091px; min-width: 1091px; }
.crafting_wrap .crafting_blk { width: 100%; position: relative; }
.crafting_blk .crafting_img_wrap { width: 500px; }
.crafting_blk .crafting_img_wrap .img_box_crafting { width: 100%; position: relative; overflow: hidden; }
.crafting_blk .crafting_img_wrap .img_box_crafting::after { content: ''; display: block; padding: 40% 50%; }
.crafting_blk .crafting_img_wrap .img_box_crafting img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.crafting_blk .crafting_img_dtl { width: 100%; position: relative; padding: 44px 0 0 44px; }
.crafting_blk .crafting_img_dtl .sub_title_crafting { position: relative; padding: 0 0 0 32px; font-family: 'Montserrat-SemiBold'; font-size: 16px; line-height: 1.5; color: var(--blacktxt); }
.crafting_blk .crafting_img_dtl .sub_title_crafting:after { content: ''; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 23px; height: 1px; background-color: var(--blackbg); margin-bottom: 24px; }
.crafting_img_dtl h4 { font-family: 'Gilroy-ExtraBold'; font-size: 54px; line-height: normal; color: var(--blacktxt); }
/* Home Scroll Section End */

/* section 1 css about page hardik */
.about_page {position: relative;}
.about_page .about_section {padding: 224px 0 60px; max-width: 1800px; margin: 0 auto;}
.section_content {display: flex; justify-content: space-between; align-items: flex-end; flex-wrap: wrap; padding-bottom: 32px;}
.section_content .section_head {width: 50%; max-width: 691px;}
.section_content .section_head h1 {font-size: var(--fz164); color: var(--blacktxt); line-height: auto; font-family: 'Gilroy-ExtraBold'; text-transform: uppercase;}
.section_content .sec_dtl {width: 50%; max-width: 840px;}
.section_content .sec_dtl p {font-family: 'Montserrat-Medium';}

.who_img{padding: 32px 0 0 0; position: relative;}
.who_img .img_sec {position: relative; width: 100%; transition: all ease-in-out 0.3s;}
.who_img .img_sec::after{content: ''; display: block; padding-bottom: 77.80%;}
.who_img .img_sec img {width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover;}
@media (min-width: 1921px) {
	.about_page .about_section {padding: 11.667vw 0 3.123vw;max-width: 93.75vw;}
	.about_page .about_section .section_content {padding-bottom: 1.667vw;}
	.section_content .section_head {max-width: 35.99vw;}
	.section_content .sec_dtl {max-width: 43.75vw;}
	
	.who_img{padding: 1.667vw 0 0 0;}
}
/* section 1 css about page hardik */
/* ===================================================================== */
/* section 2 css about page hardik */
.story_wrap {padding: 96px 0;}
.story_wrap .story_content {max-width: 1800px; margin: 0 auto; display: flex; justify-content: space-between;}
.story_wrap .story_content .story_head {max-width: 555px; width: 35.83%;}
.story_wrap .story_content .story_head h2 {font-size: var(--fz96); font-family: 'Gilroy-ExtraBold'; text-transform: uppercase; line-height: 1;}
.story_wrap .story_content .story_head h2 span { font-size: 150px; font-family: 'Hurricane-Regular'; text-transform: capitalize; display: block;}
.story_wrap .story_content .story_head h2 strong {font-size: var(--fz164);font-family: 'Gilroy-ExtraBold'; padding-left: 50px; display: block; line-height: 1.4;}
.story_img {position: relative; width: 64.17%; transition: all ease-in-out 0.3s; padding-top: 118px;}
.story_img .img_wrap {max-width: 1155px; position: relative; transition: all ease-in-out 0.3s;}
.story_img .img_wrap::after{content: ''; display: block; padding-bottom: 54.55%;}
.story_img .img_wrap img {width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover; transition: all ease-in-out 0.3s; filter: grayscale(1);}
.img_content {padding-top: 44px;}
.img_content p {font-family: 'Montserrat-Medium';}
.story_img .img_wrap:hover img{filter: grayscale(0); }
@media (min-width: 1921px) {
	.story_wrap {padding: 4.997vw 0;}
	.story_wrap .story_content {max-width: 93.75vw;}
	.story_wrap .story_content .story_head {max-width: 28.891vw;}
	.story_wrap .story_content .story_head h2 strong {padding-left: 2.603vw;}
	.story_img {padding-top: 6.143vw;}
	.story_img .img_wrap {max-width: 60.125vw;}
	.img_content {padding-top: 2.29vw;}
	.story_wrap .story_content .story_head h2 span {font-size: 7.808vw;}
}
/* section 2 css about page hardik */
/* ===================================================================== */
/* section 3 css about page hardik */

/* section 3 css about page hardik */
/* ===================================================================== */
/* section 4 css about page hardik */

/* section 4 css about page hardik */
/* ===================================================================== */
/* section 5 css about page hardik */
.trusted_wrap {background-color: var(--blackbg); padding: 96px 0;}
.trusted_wrap .trusted_grp {max-width: 1800px; margin: 0 auto;}
.trusted_wrap .trusted_grp .trust_head {padding-bottom: 96px; text-align: center;}
.trusted_wrap .trusted_grp .trust_head h4 {font-size: 64px; color: var(--whitetxt); text-transform: uppercase; font-family: 'Gilroy-ExtraBold';}
.trust_logo{position: relative;}
.trust_logo ul {display: flex; justify-content: center; align-items: center; flex-wrap: wrap; column-gap: 158px; row-gap: 100px;}
.trust_logo ul li {max-width: 300px; display: block; }
.trust_logo ul li i {display: inline-flex;  justify-content: center;}
.trust_logo ul li i img{object-fit: cover; width: 100%;}
@media (min-width: 1921px) {
	.trusted_wrap {padding: 4.997vw 0;}
	.trusted_wrap .trusted_grp {max-width: 93.75vw;}
	.trusted_wrap .trusted_grp .trust_head {padding-top: 4.997vw;}
	.trusted_wrap .trusted_grp .trust_head h4 {font-size: 3.332vw;}
	.trust_logo ul {column-gap: 8.225vw; row-gap: 5.206vw;}
	.trust_logo ul li {max-width: 15.617vw;}
}
/* section 5 css about page hardik */
/* ===================================================================== */
/* section 6 css about page hardik */
.team_wrap {max-width: 1800px; margin: 0 auto; padding: 128px 0; }
.team_wrap .section_content {padding-bottom: 100px;}
.team_wrap .section_content .section_head {width: 60%; max-width: 775px;}
.team_wrap .section_content .sec_dtl {width: 40%; max-width: 600px;}
.team_wrap .container {max-width: 1800px; width: 1800px;}
.team_wrap .our_team {position: relative;}
.team_wrap .our_team .row {row-gap: 64px;}
.team_wrap .our_team .team_dtl {position: relative;}
.team_wrap .our_team .team_dtl .team_img {height: 100%;}
.team_wrap .our_team .team_dtl .team_img img {width: 100%; filter: grayscale(1); transition: all ease-in-out 0.3s;}
.team_wrap .our_team a {display: flex; flex-direction: column;}
.team_wrap .our_team a:hover .team_dtl .team_img img {filter: grayscale(0);}
.team_wrap .our_team .team_dtl .team_content {padding-top: 32px;}
.team_wrap .our_team .team_dtl .team_content h6 {font-size: var(--fz32); color: var(--blacktxt); font-family: 'Montserrat-Bold'; padding-bottom: 16px; text-transform: uppercase;}
.team_wrap .our_team .team_dtl .team_content span {display: block; font-size: var(--fz20);color: var(--blacktxt); font-family: 'Montserrat-Regular';}
@media (min-width: 1921px) {
	.team_wrap {max-width: 93.75vw; padding: 6.663vw 0;}
	.team_wrap .section_content {padding-bottom: 5.206vw;}
	.team_wrap .section_content .section_head {max-width: 40.344vw;}
	.team_wrap .section_content .sec_dtl {max-width: 31.234vw;} 
	.team_wrap .container {max-width: 93.75vw; width: 93.75vw;}
	.team_wrap .our_team .row {row-gap: 3.332vw;}
	.team_wrap .our_team .team_dtl .team_content {padding-top: 1.666vw;}
	.team_wrap .our_team .team_dtl .team_content h6 {padding-bottom: 0.833vw;}
}
/* section 6 css about page hardik */
/* ===================================================================== */