/* Bwlow code in style.css */
/* Common CSS for All components : Start */
@media (min-width: 1921px) {
	:root {
		--fz164:8.542vw;
		--fz124:6.458vw;
		--fz96:5vw;
		--fz44:2.292vw;
		--fz32:1.667vw;
		--fz24:1.25vw;
		--fz20:1.042vw;
		--fz18:0.938vw;
		--fz16:0.833vw;
		--fz14:0.729vw;
	}
}

@media (max-width: 1920px) {
	:root {
		--fz164:8.542vw;
		--fz124:6.458vw;
		--fz96:5vw;
		--fz44:2.292vw;
		--fz32:32px;
		--fz24:24px;
		--fz20:20px;
		--fz18:18px;
		--fz16:16px;
		--fz14:14px;
	}
}
:root {
	
	--whitebg:#ffffff;
	--blackbg: #000000;
	--blackbg100: #1f1f1f;
	--blackbg200: #454545;
	--lightgraybg100: #f5f5f5;
	--lightgraybg200: #e3e3e3;
	--bluebg: #3880ff;
	--redbg: #db0012;
	--skybluebg: #1ca6cc;
	--lightbrownbg: #8a6e7d;


	--whitetxt:#ffffff;
	--blacktxt: #000000;
	--blacktxt100: #1f1f1f;
	--blacktxt200: #454545;
	--lightgraytxt100: #f5f5f5;
	--lightgraytxt200: #e3e3e3;
	--bluetxt: #3880ff;
	--redtxt: #db0012;
	--skybluetxt: #1ca6cc;
	--lightbrowntxt: #8a6e7d;
}

/* Lenis Start (By Mit) */

html.lenis { height: auto; }
.lenis.lenis-smooth { scroll-behavior: auto; } 
.lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
.lenis.lenis-stopped { overflow: hidden; }
.lenis.lenis-scrolling iframe { pointer-events: none; } 

/* Lenis End (By Mit)*/

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html { margin: 0; padding: 0;}
body { margin: 0; padding: 0; background:var(--whitebg);letter-spacing: 0; font-weight: normal; color: var(--blacktxt); font-family: 'Montserrat-Medium'; font-size: var(--fz20); line-height: 1.6; }


input, select, textarea, button { outline: none; box-shadow: none; font-family: inherit;}
input[type=text]::-moz-placeholder,
input[type=search]::-moz-placeholder,
.input-text::-moz-placeholder,
.input_text::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=text]::-webkit-input-placeholder,
input[type=search]::-webkit-input-p,
.input-text::-webkit-input-placeholder,
.input_text::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=text]::-ms-placeholder,
input[type=search]::-ms-placeholder,
.input-text::-ms-placeholder,
.input_text::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=email]::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=email]::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

input[type=email]::-ms-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-moz-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-webkit-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

textarea::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
	font-family: inherit;
}

a { text-decoration: none;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
a:hover { text-decoration: none;}

.flxrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.flxcol {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column; 
	flex-direction: column;
}
.flxfix {
	-ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.flxflexi {
	-ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    position: relative;
}
/* Common CSS for All components : End */

@media (min-width:576px) {
	.container {
		width:100%;
		max-width:100%;
	}
}
@media (min-width: 768px) {
	.container {
		width:750px;
		padding: 0 15px;;
	}
}
@media (min-width: 992px) {
	.container {
		width:970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width:1130px;
		max-width:1130px;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
 
h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 24px;
}
h6 {
	font-size: 20px;
}

p { margin: 0; padding: 0; color: var(--blacktxt); font-family: 'Montserrat-Medium'; font-size: var(--fz20); line-height: 1.6; }
p + p { padding-top: 32px;; }

ul { margin: 0px; padding: 0px; }
ul li { list-style: none; }

.row { margin-left: -15px !important; margin-right: -15px !important;}
.row>* { padding-left: 15px !important; padding-right: 15px !important;}

.form-errer-msg { border-radius: 4px;border: solid 2px #f8797f;padding: 12px 14px 11px 44px; background: url(../images/c-error.svg) no-repeat 15px 12px #f8797f;font-weight: bold;line-height: 1.4;letter-spacing: 1px;color: #fff;font-size: 15px;max-width: 576px;margin: 24px auto 8px; }

.form-secess-msg { border-radius: 4px;border: solid 2px #00ad8a;padding: 12px 14px 11px 44px;background: url(../images/c-check.svg) no-repeat 15px 12px #00ad8a;font-weight: bold;line-height: 1.4;letter-spacing: 1px;color: #fff;font-size: 15px;max-width: 576px;margin: 24px auto 8px; }

.main-wapper { overflow: hidden; }

/* ========== product_listing_page section 1 style: Start (By Kaushal) ========== */

.kv-sec { width: 100%; position: relative; display: block; background: var(--blackbg); }
.kv-sec .kv-inner { width: 100%; height: 100vh; position: relative; display: flex; flex-direction: column; justify-content: end; }
.kv-sec .kv-inner .kv-ttlWrap { margin-top: 324px; padding-bottom: 96px; width: 100%; display: flex; padding-left: 60px; padding-right: 60px; flex-direction: column; position: relative; z-index: 10; }
.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line { width: 100%; display: flex; align-items: flex-start; flex-direction: column; max-width: 1000px; }
.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line h1 { transition: 0.8s cubic-bezier(0.23, 0.65, 0.52, 0.87) 0.4s, clip-path 0.8s ease 0.4s; perspective: 1000px; font-family: 'Gilroy-ExtraBold'; font-size: var(--fz164); line-height: 1.22; color: var(--whitetxt); text-transform: uppercase; clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); }
.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line.start h1 { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line p { transition: 0.8s cubic-bezier(0.23, 0.65, 0.52, 0.87) 0.4s, clip-path 0.8s ease 0.4s; perspective: 1000px; margin-top: 32px; color: var(--whitetxt); clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); }
.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line.start p { clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
.kv-sec .kv-inner .kv-spacer { width: 100%; padding-top: 0vh; background: transparent; position: relative; z-index: 10; bottom: 0; transform-origin: bottom; transition: 1.6s linear 0s; }
.kv-sec .kv-inner .kv-spacer.active { padding-top: 40vh; }
.kv-sec .kv-img { width: 100%; height: auto; margin-top: 0; opacity: 0; transition: 1.6s linear 0s; display: inline-block; }
.kv-sec .kv-img.active { opacity: 1; margin-top: -40vh; }
.kv-sec .kv-img figure { width: 100%; position: relative; transform-origin: center; display: block; margin: 0; }
.kv-sec .kv-img figure img { width: 100%; }

@media (min-width: 1921px) {

	.kv-sec .kv-inner .kv-ttlWrap { margin-top: 16.866vw; padding-bottom: 4.997vw; padding-left: 3.123vw; padding-right: 3.123vw; }
	.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line { max-width: 52.056vw; }
	.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line h1 { perspective: 52.056vw; }
	.kv-sec .kv-inner .kv-ttlWrap .kv-ttl-line p { perspective: 52.056vw; margin-top: 1.666vw; }
}

/* ========== product_listing_page section 1 style: End (By Kaushal) ========== */


/* Header Start */

header { width: 100%; position: fixed; left: 0; top: 0; width: 100%; padding: 44px 60px; z-index: 999; }
.header_inner { width: 100%; position: relative; display: -ms-flexbox; display: flex; align-items: center; align-content: center; justify-content: space-between; }
.logo a img { width: 140px; height: auto; }

.menubar { position: relative; z-index: 999; }

.menubar .hamburger_btn { position: relative; align-items: center; align-content: center; background: none !important; border: none !important; outline: none !important; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; padding: 0; margin: 0; text-align: left; }
.hamburger_btn .hamburger_icon { display: -ms-flexbox; display: flex; align-items: center; justify-content: center; align-content: center; height: 56px; width: 56px; border: solid 1px #E2E2E2; border-radius: 50%; margin-right: 16px; }

.navbar_toggler_icon { width:24px; height:2px; border-radius: 4px;  background:var(--blackbg); position: relative; }
.navbar_toggler_icon:after {content:''; width:24px; height:2px; border-radius: 4px; position:absolute; left:0; right:0; bottom:-8px; background:var(--blackbg); }
.navbar_toggler_icon:before {content:''; width:24px; height:2px; border-radius: 4px; position:absolute; left:0; right:0; top:-8px; background:var(--blackbg); }
.navbar_toggler_icon:after ,
.navbar_toggler_icon:before { -webkit-transition-duration: .3s, .3s, .3s; transition-duration: .3s, .3s, .3s; -webkit-transition-delay: .3s, 0s, .3s; transition-delay: .3s, 0s, .3s; }
.navbar_toggler_icon:after {  -webkit-transition-property:bottom , transform ,background; transition-property:bottom , transform ,background; }
.navbar_toggler_icon:before {  -webkit-transition-property:top , transform ,background; transition-property:top , transform ,background;  }

.active .navbar_toggler_icon  { background:none; }
.active .navbar_toggler_icon:after { bottom:0; transform:rotate(45deg); background:var(--whitebg) }
.active .navbar_toggler_icon:before { top:0; transform:rotate(-45deg); background:var(--whitebg) }
.active .navbar_toggler_icon:after ,
.active .navbar_toggler_icon:before {-webkit-transition-delay: 0s, .3s, .0s; transition-delay:0s, .3s, .0s;}
.nav_text { font-family: 'Montserrat-SemiBold'; font-size: var(--fz18); line-height: 1.555556; color: var(--blacktxt); }

.nav_text { overflow: hidden; text-align: right; text-transform: uppercase; font-weight: bold; position: relative; width: 63px; }
.nav_text_before { top: 0; right: 0; position: absolute; transition: 0.3s all ease-in-out; }
.nav_text ,
.nav_text_after,
.nav_text_before { height: 28px; }
.open_menu .nav_text_before { top: -20px; color: var(--whitetxt); }
.nav_text_after { top: 28px; right: 0; position: absolute; transition: 0.3s all  ease-in-out; }
.open_menu .nav_text_after { top: 0; color: var(--whitetxt); }

.bg_menu_shap { position: fixed; top: 44px; right: 139px; background-color: var(--blackbg); height: 56px; width: 56px; border-radius: 50%; -webkit-transform: scale(0) translate3d(1%, 1%, 0); -moz-transform: scale(0) translate3d(1%, 1%, 0); -ms-transform: scale(0) translate3d(1%, 1%, 0); transform: scale(0) translate3d(1%, 1%, 0); z-index: 998; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
body.open_menu .bg_menu_shap { -webkit-transform: scale(75) translate3d(1%, 1%, 0); -moz-transform: scale(75) translate3d(1%, 1%, 0); -ms-transform: scale(75) translate3d(1%, 1%, 0); transform: scale(75) translate3d(1%, 1%, 0);  }

@media (min-width: 1921px) {
	header { padding: 2.29vw 3.123vw; }
	.logo a img { width: 7.288vw; }
	.hamburger_btn .hamburger_icon { height: 2.915vw; width: 2.915vw; border: solid 1px #E2E2E2; margin-right: 0.833vw; }
	
	.navbar_toggler_icon { width:1.249vw; height:0.104vw; border-radius: 0.208vw; }
	.navbar_toggler_icon:after {width:1.249vw; height:0.104vw; border-radius: 0.208vw; bottom:-0.416vw; }
	.navbar_toggler_icon:before {width:1.249vw; height:0.104vw; border-radius: 0.208vw; top:-0.416vw; }
	.nav_text { width: 3.28vw; }
	.nav_text ,
	.nav_text_after,
	.nav_text_before { height: 1.458vw; }
	.open_menu .nav_text_before { top: -1.041vw; }
	.nav_text_after { top: 1.458vw; }
	.open_menu .nav_text_after { top: 0; }
	
	.bg_menu_shap { top: 2.29vw; right: 7.236vw; height: 2.915vw; width: 2.915vw; }
	
}
/* Header End */

.split_word > div { overflow: hidden; vertical-align: top; }

/* Home Banner Start */
.home_wrap { width: 100%; position: relative; padding-top: 196px; }
.home_top_txt { max-width: 1200px; margin: 0 auto; text-align: center; }
.subtitle_banner_home { width: 100%; position: relative; }
.subtitle_banner_home h1 { font-size: var(--fz124); line-height: normal; text-transform: uppercase; font-family: 'Gilroy-ExtraBold'; color: var(--blacktxt); margin-bottom: 24px; }
.subtitle_banner_home p + h1 { margin-top: 24px; }
.load_fade_txt { -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; opacity: 0; visibility: hidden; }
.load-content .load_fade_txt { opacity: 1; visibility: visible; }
@media (min-width: 1921px) {
	.home_wrap {padding-top: 10.203vw; }
	.home_top_txt { max-width: 62.467vw; }
	.subtitle_banner_home h1 { margin-bottom: 1.249vw; }
	.subtitle_banner_home p + h1 { margin-top: 1.249vw; }
}

/* Home Banner End */
/* Home Scroll Section Start */
.home_hori_wrap { width: 100%; position: relative; }
.home_hori_pin { display: -ms-flexbox; display: flex; width: 100%; }
.home_hori_pin .main_hori_img { width: 100vw; min-width: 100vw; }
/* Home Scroll Section End */
